USE [master]
GO
/****** Object:  Database [MasterDetailSimple]    Script Date: 2/27/2023 3:03:53 AM ******/
CREATE DATABASE [MasterDetailSimple]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MasterDetailSimple', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MasterDetailSimple.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MasterDetailSimple_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MasterDetailSimple_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MasterDetailSimple].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MasterDetailSimple]
GO
USE [MasterDetailSimple]
GO
/****** Object:  Sequence [dbo].[GetInvoiceNumber]    Script Date: 2/27/2023 3:03:53 AM ******/
CREATE SEQUENCE [dbo].[GetInvoiceNumber] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999
 CYCLE 
 CACHE  10 
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/27/2023 3:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
	[AccountNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2/27/2023 3:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductName] [nvarchar](max) NULL,
	[UnitPrice] [money] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/27/2023 3:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[OrderDate] [datetime2](7) NULL,
	[Invoice] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateLookup]    Script Date: 2/27/2023 3:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateLookup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](32) NULL,
	[StateAbbrev] [char](2) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [FirstName], [LastName], [Address], [City], [State], [ZipCode], [AccountNumber]) VALUES (1, N'Stefanie', N'Buckley', N'36 West Fabien St.', N'Lincoln', N'Kentucky', N'59898     ', N'AFG111')
INSERT [dbo].[Customer] ([id], [FirstName], [LastName], [Address], [City], [State], [ZipCode], [AccountNumber]) VALUES (2, N'Jane', N'Mc Gee', N'935 Nobel Way', N'Arlington', N'Iowa', N'47471     ', N'AFG222')
INSERT [dbo].[Customer] ([id], [FirstName], [LastName], [Address], [City], [State], [ZipCode], [AccountNumber]) VALUES (3, N'Lee', N'Warren', N'91 Hague Parkway', N'Newark', N'Indiana', N'51737     ', N'BBB555')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([id], [OrderId], [ProductName], [UnitPrice], [Quantity]) VALUES (1, 8, N'Survenentor', 25.4500, 12)
INSERT [dbo].[OrderDetails] ([id], [OrderId], [ProductName], [UnitPrice], [Quantity]) VALUES (2, 8, N'Groerar', 5.0000, 8)
INSERT [dbo].[OrderDetails] ([id], [OrderId], [ProductName], [UnitPrice], [Quantity]) VALUES (3, 8, N'Varrobefazz', 3.0000, 6)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [CustomerId], [OrderDate], [Invoice]) VALUES (1, 7, CAST(N'2017-06-20T06:27:56.8903722' AS DateTime2), N'5MRV12O1ZW9NRUEKQHZ9TKTC2W076BYAQ89')
INSERT [dbo].[Orders] ([id], [CustomerId], [OrderDate], [Invoice]) VALUES (2, 5, CAST(N'2017-09-23T07:46:08.9850208' AS DateTime2), N'I16UG509VUVD0ZXP76X76OJ1Y2KEWQMU6OVPB')
INSERT [dbo].[Orders] ([id], [CustomerId], [OrderDate], [Invoice]) VALUES (3, 5, CAST(N'2017-11-09T16:21:36.3880337' AS DateTime2), N'QQPU5VXH5VBW9X6KXW7V9K15Q0SDUBQTNDP')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[StateLookup] ON 

INSERT [dbo].[StateLookup] ([id], [StateName], [StateAbbrev]) VALUES (1, N'Alabama', N'AL')
INSERT [dbo].[StateLookup] ([id], [StateName], [StateAbbrev]) VALUES (2, N'Alaska', N'AK')
INSERT [dbo].[StateLookup] ([id], [StateName], [StateAbbrev]) VALUES (3, N'Arizona', N'AZ')
SET IDENTITY_INSERT [dbo].[StateLookup] OFF
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
USE [master]
GO
